main {
    padding: 0 7.5% 0 7.5%;
}

body footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: white;
}

body footer a {
    margin: 0.5rem;
}

body footer a img {
    height: 50px;
    width: auto;
}
